.label {
    font-size: large;
    font-family: Lugrasimo;
  }
  input {
    width: 230px;
    height: 22px;
    border: 2px groove black;
    border-radius: 5px;
  }
  button {
    border-radius: 10px;
    margin-left: 90px;
    margin-top: 10px;
    width: 90px;
    height: 30px;
  }